Debug/
/run
/bank
/bankProjMTM.zip
/readme.txt
/readme.txt~
/helper.txt
/.autotools

~$bank.c

matala3.zip

מגישים.rtf
/runbank

MTM5/MTM5.zip
/1.txt
/1.txt.sort
/1.txt.sort.cmpr
/1.txt.sort.cmpr.enc
/1.txt.sort.cmpr.enc.dec
